
    <div class="text-left page">
      <!-- Page preloader-->
      <div class="page-loader">
        <div>
          <div class="page-loader-body">
            <svg x="0" y="0" width="258" height="258">

              <clippath id="clip-path">

              </clippath>
            </svg>
          </div>
        </div>
      </div>
      <!-- Page Header-->
      <section class="section section-breadcrumb">
        <div class="parallax-container breadcrumb-wrapper" data-parallax-img="https://images.unsplash.com/photo-1525248152312-434c15a82f37?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=278e9355f4294b036c0ad9d60750e752&auto=format&fit=crop&w=2880&q=80">
          <div class="parallax-content section-lg context-dark">
            <div class="shell context-dark">
              <h2 style="color: black;">Le forum</h2>
              <div class="divider"></div>
            </div>
          </div>
        </div>
      </section>
      <!-- Why choose us-->
      <section class="section section-lg bg-white">

        <div class="shell bg-white-lighter block-info-wrap">
          <div class="block-info-wrap-inner">

            <% @messages.where(statut: 'yes').each do |message| %>
              <% @profile = Profile.find(message.profile_id)  %>
            <div class="block-info-wrap-item">
              <div class="block-info">
                <div class="block-info-inner">

                      <% if @profile.photo.nil? %>
                        <img class ="img-circle" src="https://images.unsplash.com/photo-1506704810770-7e9bbab1094b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=4628f78ca574b3507071057c7041660c&auto=format&fit=crop&w=2850&q=80" alt="" width="91" height="91"/>
                      <% else %>
                        <%= cl_image_tag @profile.photo, width:"91", height: "91", alt:"", class:"img-circle"%>
                      <% end %>
                  <i>Thème : <%=message.theme.capitalize%></i>
                  <H5><%=message.title%></H5>
                  <p><%= message.content %></p>
                  <p class="heading-5">Posté le <%=message.created_at.strftime("%d.%m.%Y") %> par <%= @profile.pseudo.capitalize %></p>
                  <% @comments = Messagecommit.where(message_id: message.id).length%>
                  <i>Nombre de commentaires : <%=@comments%></i>

                <%= link_to 'Voir', profile_message_path(message.profile_id, message.id), class:"button button-effect-ujarak button-primary button-block"%>

                </div>
              </div>
            </div>

            <% end %>


          </div>
        </div>
      </section>
      <!-- Page Footer-->
      <section class="section section-sm bg-white-lighter">
        <div class="shell shell-out">
          <div class="range range-30">
            <div class="cell-sm-3 cell-xs-5">
              <div class="preffix-xl-70" style="max-width: 274px">
                <h6 class="text-spacing-200 text-uppercase font-base">Quelques chiffres</h6>
                <div class="divider-modern"></div>
                <ul class="list list-md">
                  <li>
                    <div class="unit unit-spacing-xs unit-horizontal unit-custom">
                      <div class="unit-left"><span class="icon icon-md icon-primary mdi-phone"></span></div>
                      <div class="unit-body"><i class="link-gray-darker" href="tel:#">nb total de messages = <%=@messages.length%></i></div>
                    </div>
                  </li>
                  <li>
                    <div class="unit unit-spacing-xs unit-horizontal unit-custom">
                      <div class="unit-left"><span class="icon icon-md icon-primary mdi-email-outline"></span></div>
                      <% @total = Messagecommit.all.length %>

                      <div class="unit-body" style="position: relative; top: 1px"><i class="link-gray-darker" href="mailto:#">nb total de commentaires = <%=@total%> </i></div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="cell-sm-3 cell-xs-5">
              <div class="preffix-xl-70" style="max-width: 274px">
                <h6 class="text-spacing-200 text-uppercase font-base">Dernier message posté</h6>

                <div class="divider-modern"></div>
                <ul class="list list-md">
                  <li>
                <% if @messages.length > 0 %>

                <% @lastmessage = @messages.where(statut: 'yes').last(1) %>
                <% @lastprofile = Profile.find(@lastmessage.last.profile_id)  %>
                    <div class="unit unit-spacing-xs unit-horizontal">
                      <div class="unit-left"><span class="icon icon-md-biger icon-primary mdi-map-marker"></span></div>
                      <div class="unit-body" style="position: relative; top: -4px;"><a class="link-default" href="<%=profile_message_path(@lastprofile.id,@lastmessage.last.id) %>"><%= @lastmessage.last.title%> par <%=@lastprofile.pseudo.capitalize %></a></div>
                    </div>
                <% else %>
                <i>Aucun message</i>
                <% end %>
                  </li>
                </ul>
              </div>
            </div>
            <div class="cell-sm-4">
              <div class="preffix-xl-70" style="max-width: 433px">
                <%= link_to 'Accueil', root_path, class:"button button-effect-ujarak button-primary button-block"%>
                <%= link_to 'Poster un message', new_profile_message_path(current_user.profile.id), class:"button button-effect-ujarak button-primary button-block"%>
              </div>
            </div>
          </div>
        </div>
      </section>

    </div>
    <!-- PANEL-->
    <!-- END PANEL-->
    <!-- Global Mailform Output-->
    <div class="snackbars" id="form-output-global"></div>

