<header class="page-header">
        <!-- RD Navbar-->
        <div class="rd-navbar-wrap">
          <nav class="rd-navbar rd-navbar-minimal" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-static" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-static" data-md-stick-up-offset="40px" data-lg-stick-up-offset="40px" data-stick-up="true" data-sm-stick-up="true" data-md-stick-up="true" data-lg-stick-up="true">
            <div class="rd-navbar-inner">
              <!-- RD Navbar Panel-->
              <div class="rd-navbar-panel">
                <!-- RD Navbar Toggle-->
                <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                <!-- RD Navbar Brand-->
                <div class="rd-navbar-brand"><a class="brand-name" href="<%=root_path%>"><img src="https://images.unsplash.com/photo-1501740326664-5571ff5e30a6?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=5ffd320d3a7164849c771410682f3959&auto=format&fit=crop&w=2853&q=80" alt="" width="79" height="92"/></a></div>
              </div>
              <div class="rd-navbar-aside-right">
                <div class="rd-navbar-nav-wrap">
                  <!-- RD Navbar Nav-->
                  <ul class="rd-navbar-nav">
                    <li><a href="/">Accueil</a></li>
                    <li><a href="<%=pages_pourquoi_path%>">Pourquoi?</a></li>
                    <li><a href="<%=pages_info_path%>">Infos</a><li>

                    <% if current_user.present?%>

                    <li class="active"><a href="#">Mon compte</a>

                      <% if current_user.profile &&  current_user.profile.statut == "yes"%>
                      <!-- RD Navbar Megamenu-->
                      <ul class="rd-navbar-megamenu">

                        <li class="rd-navbar-megamenu-item">
                          <div class="rd-navbar-megamenu-item-inner">
                            <h6 class="rd-navbar-megamenu-title">Mes options</h6>
                            <div class="rd-navbar-megamenu-divider"></div>
                            <ul>
                              <li><%= link_to 'Mon profil', profile_path(current_user.profile.id)%></li>
                              <li><%= link_to 'Le forum', messages_path%></li>
                              <li><%= link_to 'Les articles', articles_path%></li>
                              <li><%= link_to 'Les inscrits', profiles_path%></li>
                              <li><%= link_to 'Ma messagerie privée', conversations_path%></li>

                              <li> <%= link_to destroy_user_session_path, method: :get do %>
                                <%= t(".sign_out", default: "Se déconnecter") %>
                                <% end %>
                              </li>
                            </ul>
                          </div>
                        </li>
                      </ul>
                      <% elsif current_user.profile &&  current_user.profile.statut == "bloqué"%>
                        <ul class="rd-navbar-megamenu">

                        <li class="rd-navbar-megamenu-item">
                          <div class="rd-navbar-megamenu-item-inner">
                            <h6 class="rd-navbar-megamenu-title">Mes options</h6>
                            <div class="rd-navbar-megamenu-divider"></div>
                            <ul>
                              <li><i>Votre profil a été bloqué, veuillez contacter l'équipe.</i></li>

                              <li> <%= link_to destroy_user_session_path, method: :get do %>
                                <%= t(".sign_out", default: "Se déconnecter") %>
                                <% end %>
                              </li>
                            </ul>
                          </div>
                        </li>
                      </ul>
                      <% elsif ! current_user.profile%>
                      <ul class="rd-navbar-megamenu">

                        <li class="rd-navbar-megamenu-item">
                          <div class="rd-navbar-megamenu-item-inner">
                            <h6 class="rd-navbar-megamenu-title">Mes options</h6>
                            <div class="rd-navbar-megamenu-divider"></div>
                            <ul>
                              <li><%= link_to 'créer mon profil', new_profile_path%></li>
                             <li> <%= link_to destroy_user_session_path, method: :get do %>
                                <%= t(".sign_out", default: "Se déconnecter") %>
                                <% end %>
                              </li>
                            </ul>
                          </div>
                        </li>
                      </ul>

                      <% else %>
                      <ul class="rd-navbar-megamenu">

                        <li class="rd-navbar-megamenu-item">
                          <div class="rd-navbar-megamenu-item-inner">
                            <h6 class="rd-navbar-megamenu-title">Mes options</h6>
                            <div class="rd-navbar-megamenu-divider"></div>
                            <ul>
                              <li><i>Votre profil n'a pas encore été validé pour profiter des services.</i></li>

                              <li> <%= link_to destroy_user_session_path, method: :get do %>
                                <%= t(".sign_out", default: "Se déconnecter") %>
                                <% end %>
                              </li>
                            </ul>
                          </div>
                        </li>
                      </ul>
                    <% end %>

                    </li>

                    <% else %>
                    <li><a href="<%=new_user_session_path%>">Se connecter</a></li>

                    <% end%>
                    <li><a href="<%=pages_liens_path%>">Liens utiles</a></li>
                  </ul>
                </div>
              </div>
              <div class="rd-navbar-search"><span class="rd-navbar-search-tooltip"></span>
              </div>
            </div>
          </nav>
        </div>
      </header>
