
    <!-- Page-->
    <div class="text-left page">
      <!-- Page preloader-->
      <div class="page-loader">
        <div>
          <div class="page-loader-body">
            <svg x="0" y="0" width="258" height="258">

              <clippath id="clip-path">

              </clippath>
            </svg>
          </div>
        </div>
      </div>

      <section class="section section-lg bg-white text-left">
        <div class="shell">
          <div class="range range-60 range-xs-center">

            <div class="cell-md-7 cell-lg-5">
              <article class="post">
                <div class="post-header">
                  <div class="post-header-inner">
                    <div class="post-header-inner-img"><a href="http://www.asso-sps.fr/index.html" target="_blank"><img src="http://res.cloudinary.com/dz83jh064/image/upload/v1527364271/logo_sps-2018_w2tufj.jpg" alt="" width="719" height="246"/></a></div>
                  </div>
                </div>
                <div class="post-footer">
                  <h4><a href="http://www.asso-sps.fr/index.html" target="_blank">UNE ASSOCIATION DYNAMIQUE AU SERVICE DES SOIGNANTS EN SOUFFRANCE</a></h4>
                  <div class="post-meta">
                    <p>L’association Soins aux Professionnels en Santé (SPS) a pour origine le rassemblement d’un groupe d’experts souhaitant partager et défendre la santé des professionnels de santé rendus vulnérables.</p>
                  </div>
                </div>
              </article>
            </div>

            <div class="cell-md-7 cell-lg-5">
              <article class="post">
                <div class="post-header">
                  <div class="post-header-inner">
                    <div class="post-header-inner-img"><a href="https://asso-franceburnout.fr/" target="_blank"><img src="http://res.cloudinary.com/dz83jh064/image/upload/v1527365378/nuage_epuisement_200_be5yzt.gif" alt="" width="497" height="80"/></a></div>
                  </div>
                </div>
                <div class="post-footer">
                  <h4><a href="https://asso-franceburnout.fr/" target="_blank">ASSOCIATION FRANCE BURNOUT</a></h4>
                  <div class="post-meta">
                  <p>Notre site internet réunit dans un premier temps toutes les informations permettant aux personnes touchées de mieux comprendre cette maladie d’origine professionnelle, de l’affronter et de se défendre, si nécessaire.
                  </p>
                  </div>
                </div>
              </article>
            </div>

            <div class="cell-md-7 cell-lg-5 wow jackInTheBox">
              <article class="post">
                <div class="post-header">
                  <div class="post-header-inner">
                    <div class="post-header-inner-img"><a href="https://www.association-mots.org/" target="_blank"><img src="http://res.cloudinary.com/dz83jh064/image/upload/v1527365957/Unknown-1_isko2p.png" alt="" width="719" height="246"/></a></div>
                  </div>
                </div>
                <div class="post-footer">
                  <h4><a href="https://www.association-mots.org/" target="_blank">ASSOCIATION MOTS</a></h4>
                  <div class="post-meta">
                    <p>Association mots, au service de la santé des médecins à Toulouse, Marseille, Lille...</p>
                  </div>
                </div>
              </article>
            </div>

            <div class="cell-md-7 cell-lg-5 wow jackInTheBox">
              <article class="post">
                <div class="post-header">
                  <div class="post-header-inner">
                    <div class="post-header-inner-img"><a href="http://asdpro.fr" target="_blank"><img src="http://res.cloudinary.com/dz83jh064/image/upload/v1527366692/cropped-asd_graoq4.png" alt="" width="800" height="280"/></a></div>
                  </div>
                </div>
                <div class="post-footer">
                  <h4><a href="http://asdpro.fr" target="_blank">ASD-Pro</a></h4>
                  <div class="post-meta">
                    <p>Association d'aide aux victimes et aux organisations, confrontées aux suicides et dépressions professionnels.</p>
                  </div>
                </div>
              </article>
            </div>

          </div>

        </div>
      </section>
      <!-- Page Footer-->
      <section class="section section-sm section-full-width bg-gray-bright context-dark">
        <div class="shell">
          <div class="range range-40">
            <div class="cell-lg-3 cell-sm-5">
              <div style="max-width: 274px">
                <h6 class="text-spacing-200 text-uppercase font-base">Qui suis-je</h6>
                <div class="divider-default"></div>
                <ul class="list list-lg">
                  <li>
                    <div class="unit unit-spacing-xs unit-horizontal unit-custom unit-middle">
                      <div class="unit-left"><span class="far fa-address-card"></span></div>
                      <div class="unit-body">Antoine STAUMONT</div>
                    </div>
                  </li>
                  <li>
                    <div class="unit unit-spacing-xs unit-horizontal unit-custom unit-middle">
                      <div class="unit-left"><span class="fas fa-at"></span></div>
                      <div class="unit-body" style="position: relative; top: -1px">staumont.antoine@me.com</div>
                    </div>
                  </li>
                  <li>
                    <div class="unit unit-spacing-xs unit-horizontal">
                      <div class="unit-left"><span class="fas fa-home"></span></div>
                      <div class="unit-body" style="position: relative; top: -4px;">Hardelot</div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="cell-lg-3 cell-sm-5">
              <div style="max-width: 283px">
                <h6 class="text-spacing-200 text-uppercase font-base">Dernières infos</h6>
                <div class="divider-default"></div>
                <ul class="list list-lg">

                  <li>
                    <%= link_to 'Accueil', root_path, class:"button button-effect-ujarak button-primary button-block"%>

                  </li>
                  <% if current_user %>
                  <li>
                    <%= link_to 'Mon profil', profile_path(current_user.profile.id), class:"button button-effect-ujarak button-primary button-block"%>

                  </li>
                  <% else %>
                  <li>
                    <%= link_to "S'inscrire", new_user_session_path, class:"button button-effect-ujarak button-primary button-block"%>
                  </li>
                    <% end %>
                </ul>
              </div>
            </div>
            <div class="cell-lg-4">
              <div>
                <h6 class="text-spacing-200 text-uppercase font-base">Une question ? Contactez nous !</h6>
                <p>Vos messages seront supprimés automatiquement après lecture .</p>
                <div class="divider-default"></div>
                <% @contact = Contact.new %>
                <%= simple_form_for [@contact] do |f| %>
                <form class="rd-mailform rd-mailform-mini" data-form-output="form-output-global" data-form-type="contact" method="post" action="bat/rd-mailform.php">
                  <div class="rd-mailform-mini-left">
                    <div class="form-wrap form-wrap-validation">

                      <%= f.input :content , id:"forms-message-footer", type:"text", name:"Votre message", required: true, class: "form-input", label:"Votre message"%>

                    </div>
                  </div>
                  <div class="rd-mailform-mini-right">
                    <div class="form-wrap form-wrap-validation">

                      <%= f.input :email , id:"forms-email-footer", type:"string", name:"Votre email", required: true, label:"Votre email", class:"form-input"%>

                    </div>
                    <div class="form-button">
                      <button class="button button-effect-ujarak button-primary button-block button-square" type="submit">envoyer</button>
                    </div>
                  </div>
                </form>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </section>


    </div>
    <!-- PANEL-->
    <!-- END PANEL-->
    <!-- Global Mailform Output-->
    <div class="snackbars" id="form-output-global"></div>
