<div class="container" style="height: 835px;">
  <div class="cell-xs-12">
    <div class="block-center" style="max-width: 520px">
      <h3>Vous identifier</h3>
      <p>Pour pouvoir bénéficier des services de la plateforme, veuillez vous connecter.</p>
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <form class="rd-mailform text-left">
          <div class="form-wrap form-wrap-validation">
            <%= f.input :email, class: "form-input", id: "forms-login-name", required: false, autofocus: true %>
          </div>
          <div class="form-wrap form-wrap-validation">
            <%= f.input :password, class: "form-input",label: "Mot de passe", id: "forms-login-password", required: false %>
          </div>
          <%= f.input :remember_me,label:"Se souvenir de moi", as: :boolean if devise_mapping.rememberable? %>
          <a href="<%=pages_mention_path%>" target="_blank">Merci de lire les mentions légales</a>
          <button class="button button-effect-ujarak button-block button-square button-primary" type="submit">entrer</button>
        </form>
        <%= render "devise/shared/links" %>
      <% end %>
    </div>
  </div>
</div>
