<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Méd Entraid'</title>
    <meta property="og:title" content="Méd Entraid - plateforme destinées aux professionnels de santé.">
    <meta property="og:image" content="burnout.jpg">
    <meta property="og:description" content="Vous êtes professionnel de santé, vous souffrez de votre travail, vous vous sentez abandonné(e), incompris(e), venez nous rejoindre et sortir la tête de l'eau.">
    <meta property="og:site_name" content="Méd Entraid"/>
    <!--<%= csrf_meta_tags %>
    <%= action_cable_meta_tag %> -->
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <%= yield %>
    <%= render 'shared/footer' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
