<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Méd Entraid</title>
<meta name="description" content="Vous êtes professionnel de santé, vous souffrez de votre travail, vous vous sentez abandonné(e), incompris(e), venez nous rejoindre et sortir la tête de l'eau.">

<!-- Google / Search Engine Tags -->
<meta itemprop="name" content="Méd Entraid">
<meta itemprop="description" content="Vous êtes professionnel de santé, vous souffrez de votre travail, vous vous sentez abandonné(e), incompris(e), venez nous rejoindre et sortir la tête de l'eau.">
<meta itemprop="image" content="http://res.cloudinary.com/dz83jh064/image/upload/v1527602176/burnout_qdyr7t.jpg">

<!-- Facebook Meta Tags -->
<meta property="og:url" content="http://www.medentraid.com">
<meta property="og:type" content="website">
<meta property="og:title" content="Méd Entraid">
<meta property="og:description" content="Vous êtes professionnel de santé, vous souffrez de votre travail, vous vous sentez abandonné(e), incompris(e), venez nous rejoindre et sortir la tête de l'eau.">
<meta property="og:image" content="http://res.cloudinary.com/dz83jh064/image/upload/v1527602176/burnout_qdyr7t.jpg">

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="Méd Entraid">
<meta name="twitter:description" content="Vous êtes professionnel de santé, vous souffrez de votre travail, vous vous sentez abandonné(e), incompris(e), venez nous rejoindre et sortir la tête de l'eau.">
<meta name="twitter:image" content="http://res.cloudinary.com/dz83jh064/image/upload/v1527602176/burnout_qdyr7t.jpg">

<!-- Meta Tags Generated via http://heymeta.com -->
    <!--<%= csrf_meta_tags %>
    <%= action_cable_meta_tag %> -->
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <%= yield %>
    <%= render 'shared/footer' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
